{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <form action="import-csv/" method="POST" enctype="multipart/form-data" style="display:inline-block; margin-left: 10px;">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv" required style="display:inline-block; font-size:12px; margin-right:5px;"/>
            <button type="submit" style="background:var(--primary); color:#fff; border:none; padding:5px 10px; cursor:pointer; border-radius:4px; font-weight:bold;">
                Importar CSV Base RH
            </button>
        </form>
    </li>
{% endblock %}
